.navbar{
  background-color: #273554;
  border-color: #2E426E;
  border-bottom: 2px solid #2E426E;
}
body{
  padding-top: 70px;
  background-image: url('../assets/background.jpg');
  background-size: cover;
}
.html{

}
.navbar-inverse .navbar-brand{
  color: white;
}
.brand-img{
  padding: 8px;
}
.row{
  margin-bottom: 10px;
}
.panel-body{
  background-color: #2B3C63;
}

.panel{
    border: 2px solid  #2E426E;
}
.input-group-addon{
  background-color: #273554;
  border-color: #2E426E;
  color: #334E87;
}
.form-control{
  background-color: #2B3C63;
  border-color: #2E426E;
  color: white;
}
.custom{
  background-color: #273554;
  color: white;
  border-bottom: 2px solid  #2E426E;
  padding: 5px;
}
.cont{
  width: 100%;
  padding-left: 18%;
  padding-right: 18%;
}
.milist{
  background-color: #2B3C63;
  border-color: #2E426E;
}
.list-group{
  border-color: #2E426E;
  background-color: #2B3C63;
}
a.milist:hover{
  background-color: #273554;
  color: white;
}
a.milist{
  color: white;
}
.info-btn{
  padding: 0px 2px;
  font-size: 80%;
  width: 100%;
}
.liveinfo{
  border-color:
}
